@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F4F6; /* Cinza claro fundo */
  color: #1F2937;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Ajuste para celular para evitar scroll lateral indesejado */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}